---
import "../styles/global.css";
import "katex/dist/katex.css";
import "@cartamd/plugin-code/default.css";
import App from "../components/App.svelte";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>AI Office Hour - Chat with your assignments</title>
  </head>
  <body>
    <App client:load />
  </body>
</html>
